.Menu {
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid hsla(120, 79%, 72%, 0.4);
}

.Menu-item {
    color: hsla(189, 100%, 44%, 0.557);
    font-weight: normal;
    font-style: normal;
}

.Menu-item-active {
    color: #00bee0;
    font-weight: bold;
    font-style: normal;
}

.Menu-item-unavailable {
    color: #80f080;
    font-weight: normal;
    font-style: italic;
}

.Menu-item, .Menu-item-active, .Menu-item-unavailable {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Menu-item-text, .Menu-item-active-text, .Menu-item-unavailable-text {
    font-size: 0.75rem;
}

.Menu-item-icon, .Menu-item-active-icon, .Menu-item-unavailable-icon {
    font-size: 1.7rem;
}

