.Activities {
  background-color: lightsteelblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: none;
  border-radius: 5px;
}

.Activities-button {
  border: none;
  border-radius: 5px;
  padding: 1em;
  margin: 1em;
  background-color: whitesmoke;
  color: slategrey;
}
